# TODO: lots of stuff here should be features

import %workspace%/preset.bazelrc

build --verbose_failures

build --experimental_cpp_modules

build \
    --copt=-fvisibility=hidden \
    --cxxopt=-fvisibility-inlines-hidden

# TODO: https://github.com/bazel-contrib/toolchains_llvm/issues/592
build --conlyopt=-std=c23

# TODO: Can't compile std with --config=opt without this
build --force_pic

# TODO: scope this to just our code?
build --features=treat_warnings_as_errors

build --per_file_copt=^(src|tests)/.*@\
-Wall,\
-Wcast-align,\
-Wconversion,\
-Wdouble-promotion,\
-Wextra,\
-Wformat=2,\
-Wimplicit-fallthrough,\
-Wnull-dereference,\
-Wpedantic,\
-Wunused,\
-Wnon-virtual-dtor,\
-Wold-style-cast,\
-Woverloaded-virtual

build:default_sanitizers \
    --copt=-fno-sanitize-merge \
    --features=asan \
    --features=lsan

build:dbg \
    --compilation_mode=dbg \
    --config=default_sanitizers \
    --copt=-Og \
    --copt=-fno-omit-frame-pointer \
    --copt=-glldb \
    --cxxopt=-gmodules

# WARNING: technically -march=native breaks hermeticity
build:opt \
    --compilation_mode=opt \
    --copt=-O3 \
    --copt=-march=native

# TODO: --features=thin_lto broken for some reason
build:lto \
    --config=opt \
    --features=lto

# Should be combined with --config=opt or --config=lto
build:profile \
    --copt=-pg
