BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
---
Language: Cpp
AlignAfterOpenBracket: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
ColumnLimit: 120
PointerAlignment: Right
QualifierAlignment: Right
