Checks:
  bugprone-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-const-or-ref-data-members
  google-explicit-constructor,
  modernize-*,
  performance-*,
  readability-*,
  -readability-math-missing-parentheses
CheckOptions:
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
  modernize-use-trailing-return-type.TransformLambdas: none
